* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --red: hsl(0, 78%, 62%);
  --cyan: hsl(180, 62%, 55%);
  --orange: hsl(34, 97%, 64%);
  --blue: hsl(212, 86%, 64%);
  --varyDarkBlue: hsl(234, 12%, 34%);
  --grayishBlue: hsl(229, 6%, 66%);
  --veryLightGray: hsl(0, 0%, 98%);
  --weight1: 200;
  --weight2: 400;
  --weight3: 600;
  --row2-card2: #704f4f;
  --row2-card3: #e0d98c;
  --row3-card1: #607eaa;
  --row3-card2: #af7ab3;
  --row3-card3: #94b49f;
  --row4-card1: #b2a4ff;
}

body {
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  background-color: var(--veryLightGray);
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

h1:first-of-type {
  font-weight: var(--weight1);
  color: var(--varyDarkBlue);
}

h1:last-of-type {
  color: var(--varyDarkBlue);
}

@media (max-width: 400px) {
  h1 {
    font-size: 1.5rem;
  }
}

.header {
  text-align: center;
  line-height: 0.8;
  margin-bottom: 50px;
  margin-top: 100px;
}

.header p {
  margin: 0 auto;
  line-height: 2;
  color: var(--grayishBlue);
}

.box p {
  color: var(--grayishBlue);
}

.box {
  border-radius: 5px;
  box-shadow: 0px 30px 40px -20px hsl(0, 0%, 85%, 1);
  padding: 30px;
  margin: 20px;
}

@media (max-width: 450px) {
  .box {
    height: 200px;
    margin: 20px 30px 35px 30px;
  }
  .cyan {
    border-top: 7px solid var(--cyan);
  }
  .red {
    border-top: 7px solid var(--red);
  }
  .blue {
    border-top: 7px solid var(--blue);
  }
  .orange {
    border-top: 7px solid var(--orange);
  }
  .row2-card2 {
    border-top: 7px solid var(--row2-card2);
  }
  .row2-card3 {
    border-top: 7px solid var(--row2-card3);
  }
  .row3-card1 {
    border-top: 7px solid var(--row3-card1);
  }
  .row3-card2 {
    border-top: 7px solid var(--row3-card2);
  }
  .row3-card3 {
    border-top: 7px solid var(--row3-card3);
  }
  .row4-card1 {
    border-top: 7px solid var(--row4-card1);
  }
}

@media (max-width: 950px) and (min-width: 450px) {
  .box {
    text-align: center;
    height: 180px;
  }
  .cyan {
    border-top: 7px solid var(--cyan);
  }
  .red {
    border-top: 7px solid var(--red);
  }
  .blue {
    border-top: 7px solid var(--blue);
  }
  .orange {
    border-top: 7px solid var(--orange);
  }
  .row2-card2 {
    border-top: 7px solid var(--row2-card2);
  }
  .row2-card3 {
    border-top: 7px solid var(--row2-card3);
  }
  .row3-card1 {
    border-top: 7px solid var(--row3-card1);
  }
  .row3-card2 {
    border-top: 7px solid var(--row3-card2);
  }
  .row3-card3 {
    border-top: 7px solid var(--row3-card3);
  }
  .row4-card1 {
    border-top: 7px solid var(--row4-card1);
  }
}

h2 {
  color: var(--varyDarkBlue); 
  font-weight: var(--weight3);
  font-size: 2.5rem; 
  font-family: "Poppins", sans-serif;
}

@media (min-width: 950px) {
  .row1-container,
  .row2-container,
  .row3-container,
  .row4-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: auto;
    gap: 1rem;
  }
  .box {
    width: 33.33%;
  }
  .cyan {
    border-top: 5px solid var(--cyan);
  }
  .red {
    border-top: 5px solid var(--red);
  }
  .blue {
    border-top: 5px solid var(--blue);
  }
  .orange {
    border-top: 5px solid var(--orange);
  }
  .row2-card2 {
    border-top: 5px solid var(--row2-card2);
  }
  .row2-card3 {
    border-top: 5px solid var(--row2-card3);
  }
  .row3-card1 {
    border-top: 5px solid var(--row3-card1);
  }
  .row3-card2 {
    border-top: 5px solid var(--row3-card2);
  }
  .row3-card3 {
    border-top: 5px solid var(--row3-card3);
  }
  .row4-card1 {
    border-top: 5px solid var(--row4-card1);
  }
}

/* changes */

.card-header-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.entertainment {
  padding-left: 12px;
}
.box:hover {
  transform: scale(0.95);
  transition: 1s;
}
.cyan i {
  font-size: 4rem;
  color: hsl(180, 62%, 55%);
}
.red i {
  font-size: 4rem;
  color: hsl(0, 78%, 62%);
}
.blue i {
  font-size: 4rem;
  color: hsl(212, 86%, 64%);
}
.orange i {
  font-size: 4rem;
  color: hsl(34, 97%, 64%);
}
.row2-card2 i {
  font-size: 4rem;
  color: var(--row2-card2);
}
.row2-card3 i {
  font-size: 4rem;
  color: var(--row2-card3);
}
.row3-card1 i {
  font-size: 4rem;
  color: var(--row3-card1);
}
.row3-card2 i {
  font-size: 4rem;
  color: var(--row3-card2);
}
.row3-card3 i {
  font-size: 4rem;
  color: var(--row3-card3);
}
.row4-card1 i {
  font-size: 4rem;
  color: var(--row4-card1);
}
