@import url("https://fonts.googleapis.com/css2?family=Signika&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
:root {
  --font-color: #707070;
  --button-icon-color: #0095f6;
  --business-details-background: rgb(230, 230, 230);
}
body {
  background-color: var(--business-details-background);
}
.bis_details_page_mainContainer h3,
.bis_details_page_mainContainer h4,
.bis_details_page_mainContainer h5,
.bis_details_page_mainContainer h6 {
  color: black;
  font-family: "Signika", sans-serif;
  font-size: 1.5rem;
}
.bis_details_page_mainContainer h2 {
  color: black;
  font-family: "Signika", sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
}
.bis_details_page_mainContainer p {
  font-family: "Rubik", sans-serif;
  font-size: 1rem;
}
.left_card {
  padding: 1rem 1rem;
  height: fit-content;
}
.card_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.address_section i,
.address_section span a,
.right_card {
  color: var(--font-color);
}
.icons a {
  text-decoration: none;
  color: var(--button-icon-color);
  padding: 0;
}
.icons i {
  font-size: 1.25rem;
}
.gallery {
  margin-bottom: 1.5rem;
}
.address_section span {
  font-size: 1.2rem;
}
.address_section span:first-child {
  margin-right: 1rem;
}
.address_section span a {
  text-decoration: none;
}
.address_section span:nth-child(2):hover {
  text-decoration: underline;
}
.about,
.title {
  margin: 2rem 0;
}
.address_section {
  margin: 2rem 0;
  font-family: "Rubik", sans-serif;
}
.contactUs button {
  margin-top: 0.8rem;
  background-color: var(--button-icon-color);
  border: none;
  width: 7rem;
  height: 2.3rem;
}
.title p {
  font-weight: 600;
}
.youtubeVideo {
  margin-bottom: 1rem;
}
.youtubeVideo iframe {
  width: 100%;
  height: 100%;
}
.separator {
  border-bottom: 1px solid rgb(223, 223, 223);
}
.socialMedia_container {
  margin-top: 2rem;
}
.social_iframes {
  height: 22rem;
}
.social_iframes iframe {
  height: 20rem !important;
  width: 100%;
}
@media (max-width: 768px) {
  .socialMedia_container .row {
    gap: 1rem;
  }
}
.left_card,
.right_card {
  margin: 1rem 0;
  box-shadow: 0px 0px 15px 0px #b5b5b5;
}
.about p {
  font-size: 1.15rem;
}
